.accent {
    font-variant-caps: small-caps;
    font-weight: bold;
}
.edited {
    text-decoration: line-through;
    /* 텍스트 선 중간 */
}
a {
    text-decoration: none;
    /* a 태그에 text 밑줄을 주기 않겠다. */
}